<div class="container">
  <div class="col-md-4 col-xs-6 createDiv">
    <span type="button" class="glyphicon glyphicon-plus-sign plusCreate" ng-click="open()"></span>
    <h5 class="createBoard"> Create a Board</h5>
  </div>
    <div ng-repeat="board in boards | filter: searchText" class="col-md-4 col-xs-6">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-12 boardCard" ng-mouseenter="options=true" ng-mouseleave="options=false">
          <div ng-click="viewBoard(board.id)">
             <div class="remove" ng-click="boardDelete(board.id); $event.stopPropagation();"> <span ng-show="options" class="glyphicon glyphicon-remove remove"></span> </div>
            <div class="col-xs-12">
              <div class="col-xs-6" ng-repeat="image in board.imgUrls track by $index">
                <img class="boardImg" ng-src="{{image}}"/>
              </div>
            </div>
            <h3 class="title"> {{board.title}} </h3>
            <p class="boardDescription"> {{board.description}} </p>
          </div>
        </div>
        <button class="btn btn-secondary editBtn" ng-click="boardEdit(board)">Edit</button>
  </div>
</div>
