<div class="modal-header">
  <h3 class="modal-title">{{isEditing ? 'Update a Board' : 'Create a Board'}}</h3>
</div>
<div class="modal-body">
  <label for="boardTitle">Title:</label>
  <input type="text" class="form-control" name="boardTitle" ng-model="board.title"/>

  <label for="boardDescription">Description:</label>
  <input type="text" class="form-control" name="boardDescription" ng-model="board.description"/>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="close()">Close</button>
  <button class="btn btn-success" ng-show="!isEditing" ng-click="create()">Create</button>
  <button class="btn btn-success" ng-show="isEditing" ng-click="update(board)">Update</button>
</div>
